.body( 
     font-family: 'Fjalla One', sans-serif;)
   h1{
color: rgba(137, 43, 226, 0.521);
}
.bobr{
    text-align: center;
}
.kjh{
    width: 690px;
margin-left: 650px;
margin-right: 200px;